In [1]:
import json
import pandas as pd

remote, website, rating_score, seniority_score

In [10]:
data = {
    'remote': ['partial', 'total', None],
    'rating_score': [3.0, 1.0, -1.0],
    'seniority_score': [3.0, 4.0, -1.0]
}
source = pd.DataFrame(data)
source

    remote  rating_score  seniority_score
0  partial           3.0              3.0
1    total           1.0              4.0
2     None          -1.0             -1.0

In [8]:
target = [
    {"id":"remote",
     "data":[{"x":"total","y":1},{"x":"partial","y":1},{"x":"ponctual","y":1}]},
    {"id":"rating_score",
    "data":[{"x":"3.0","y":1},{"x":"1.0","y":1},{"x":"-1.0","y":1}]},
    {"id":"seniority_score",
    "data":[{"x":"3.0","y":1},{"x":"4.0","y":1},{"x":"-1.0","y":1}]}
]

In [12]:
target = []
for col in source.columns:
    # Get the unique values and their counts in the current column
    value_counts = source[col].value_counts()

    # Convert the value counts to a list of dictionaries
    data_list = [{"x": str(value), "y": count} for value, count in value_counts.items()]

    # Append the data for the current column to the target list
    target.append({"id": col, "data": data_list})

# Print the target data
print(target)

[{'id': 'remote', 'data': [{'x': 'partial', 'y': 1}, {'x': 'total', 'y': 1}]}, {'id': 'rating_score', 'data': [{'x': '3.0', 'y': 1}, {'x': '1.0', 'y': 1}, {'x': '-1.0', 'y': 1}]}, {'id': 'seniority_score', 'data': [{'x': '3.0', 'y': 1}, {'x': '4.0', 'y': 1}, {'x': '-1.0', 'y': 1}]}]