In [1]:
import json
import pandas as pd

In [6]:
target = [
    {"id": "group A",
     "data": [{"x": 3, "y": 4}, {"x": 96, "y": 81}, {"x": 64, "y": 51}, {"x": 65, "y": 76}, {"x": 5, "y": 41},
              {"x": 33, "y": 29}, {"x": 2, "y": 52}, {"x": 20, "y": 84}, {"x": 61, "y": 97}, {"x": 49, "y": 96}]},
    {"id": "group B",
     "data": [{"x": 58, "y": 52}, {"x": 91, "y": 69}, {"x": 35, "y": 5}, {"x": 46, "y": 71}, {"x": 91, "y": 8},
              {"x": 49, "y": 105}, {"x": 7, "y": 10}, {"x": 66, "y": 63}, {"x": 88, "y": 117}, {"x": 24, "y": 88}]},
    {"id": "group C",
     "data": [{"x": 86, "y": 106}, {"x": 95, "y": 21}, {"x": 90, "y": 32}, {"x": 83, "y": 72}, {"x": 91, "y": 38},
              {"x": 75, "y": 2}, {"x": 62, "y": 54}, {"x": 84, "y": 19}, {"x": 39, "y": 50}, {"x": 97, "y": 81}]},
    {"id": "group D",
     "data": [{"x": 73, "y": 111}, {"x": 3, "y": 35}, {"x": 69, "y": 26}, {"x": 21, "y": 19}, {"x": 0, "y": 53},
              {"x": 67, "y": 54}, {"x": 82, "y": 21}, {"x": 90, "y": 58}, {"x": 21, "y": 110}, {"x": 97, "y": 80}]},
    {"id": "group E",
     "data": [{"x": 39, "y": 20}, {"x": 65, "y": 33}, {"x": 95, "y": 112}, {"x": 97, "y": 46}, {"x": 1, "y": 50},
              {"x": 8, "y": 63}, {"x": 27, "y": 52}, {"x": 80, "y": 29}, {"x": 60, "y": 113}, {"x": 37, "y": 26}]}
]

In [7]:
names = ['Deloitte', 'EY', 'Capgemini', 'DXC Technology', 'Santander']
reviews = [105000, 75, 7300, 250, 18000]
ratings = [4, 3.9, 5, 3.6, 3.8]
size = [15000, 5000, 3000, 25, 1500]

data = {
    'name': names,
    'reviews': reviews,
    'ratings': ratings,
    'size': size
}
source = pd.DataFrame(data=data)
source

             name  reviews  ratings   size
0        Deloitte   105000      4.0  15000
1              EY       75      3.9   5000
2       Capgemini     7300      5.0   3000
3  DXC Technology      250      3.6     25
4       Santander    18000      3.8   1500

In [8]:
target = [
    {'id': 'Deloitte',
    'data': [{'x': 105000, 'y': 4}]
    },
    {'id': 'EY',
     'data': [{'x': 75 , 'y': 3.9}]
    },
    ...
]

In [9]:
target = [
    {
        'id': 'companies',
        'data': [{'x': x, 'y': y} for x, y in zip(source['reviews'], source['ratings'])]
    }
]

In [11]:
def transform_row(row):
    return {
        'id': row['name'],
        'data': [{'x': row['reviews'], 'y': row['ratings']}]
    }

# Apply the function to each row
target = source.apply(transform_row, axis=1).tolist()

In [12]:
target

[{'id': 'Deloitte', 'data': [{'x': 105000, 'y': 4.0}]},
 {'id': 'EY', 'data': [{'x': 75, 'y': 3.9}]},
 {'id': 'Capgemini', 'data': [{'x': 7300, 'y': 5.0}]},
 {'id': 'DXC Technology', 'data': [{'x': 250, 'y': 3.6}]},
 {'id': 'Santander', 'data': [{'x': 18000, 'y': 3.8}]}]