In [106]:
import plotly.express as px
import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype
import datetime
import ast

In [255]:
all_data_columns = ['name', 'id',
                    'company',
                    'stack', 'title']
keys = [column for column in all_data_columns if column != 'stack']
keys

['name', 'id', 'company', 'title']

In [256]:
df = pd.read_csv('all_data.csv')
df = df[all_data_columns]
df['stack'] = df['stack'].apply(lambda x: ast.literal_eval(x))

In [257]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     1091 non-null   object
 1   id       1262 non-null   int64
 2   company  1262 non-null   object
 3   stack    1262 non-null   object
 4   title    1262 non-null   object
dtypes: int64(1), object(4)
memory usage: 49.4+ KB

In [261]:
filtered_df = df.loc[3:7,]
filtered_df

,name,id,company,stack,title
3,CGI,5,Cgi,"[Azure, Azure Data Factory, Docker, Kubernetes...",Data Engineer Microsoft Azure
4,Astek,6,Astek,"[Scala, Spark, Spark SQL]","Ingénieur Big Data Confirmé – Paris, France"
5,Astek,7,Astek,"[Kibana, Power BI, Spark, Spark SQL]","Big Data Engineer – Lille, France"
6,Astek,8,Astek,"[Scala, Spark, Spark SQL]","Ingénieur Big Data Confirmé – Lille, France"
7,Astek,9,Astek,"[Kibana, Power BI, Spark, Spark SQL]","Big Data Engineer – Paris, France"

In [262]:
stack_filtered_df = df[df['stack'].apply(lambda x: 'Hive' in x or 'Python' in x)][:5]
stack_filtered_df

,name,id,company,stack,title
1,CGI,3,Cgi,"[Cassandra, Hive, Kafka, Nifi, Python, Scala, ...",Data Engineer Big Data
2,CGI,4,Cgi,"[Couchbase, HBase, Hive, Kafka, Python, Yarn]",Data Engineer - Financial Services
3,CGI,5,Cgi,"[Azure, Azure Data Factory, Docker, Kubernetes...",Data Engineer Microsoft Azure
8,Brevo,11,Brevo,"[Airbyte, Docker, Google BigQuery, Kubernetes,...",SRE - Site Reliability Engineer Data
10,Harnham,33,Harnham,"[Azure, Power BI, Python, Qlik, Tableau]",Data Analyst

In [265]:
filtered_df_x = filtered_df.explode('stack')
filtered_df_x

,name,id,company,stack,title
3,CGI,5,Cgi,Azure,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Azure Data Factory,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Docker,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Kubernetes,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Microsoft Azure Data Factory,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Microsoft SQL Server,Data Engineer Microsoft Azure
3,CGI,5,Cgi,PostgreSQL,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Power BI,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Python,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Qlik,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Spark,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Spark SQL,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Tableau,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Talend,Data Engineer Microsoft Azure
4,Astek,6,Astek,Scala,"Ingénieur Big Data Confirmé – Paris, France"
4,Astek,6,Astek,Spark,"Ingénieur Big Data Confirmé – Paris, France"
4,Astek,6,Astek,Spark SQL,"Ingénieur Big Data Confirmé – Paris, France"
5,Astek,7,Astek,Kibana,"Big Data Engineer – Lille, France"
5,Astek,7,Astek,Power BI,"Big Data Engineer – Lille, France"
5,Astek,7,Astek,Spark,"Big Data Engineer – Lille, France"
5,Astek,7,Astek,Spark SQL,"Big Data Engineer – Lille, France"
6,Astek,8,Astek,Scala,"Ingénieur Big Data Confirmé – Lille, France"
6,Astek,8,Astek,Spark,"Ingénieur Big Data Confirmé – Lille, France"
6,Astek,8,Astek,Spark SQL,"Ingénieur Big Data Confirmé – Lille, France"
7,Astek,9,Astek,Kibana,"Big Data Engineer – Paris, France"
7,Astek,9,Astek,Power BI,"Big Data Engineer – Paris, France"
7,Astek,9,Astek,Spark,"Big Data Engineer – Paris, France"
7,Astek,9,Astek,Spark SQL,"Big Data Engineer – Paris, France"

In [266]:
filtered_df_x.groupby(by=keys, dropna=False).agg(list).reset_index()

,name,id,company,title,stack
0,Astek,6,Astek,"Ingénieur Big Data Confirmé – Paris, France","[Scala, Spark, Spark SQL]"
1,Astek,7,Astek,"Big Data Engineer – Lille, France","[Kibana, Power BI, Spark, Spark SQL]"
2,Astek,8,Astek,"Ingénieur Big Data Confirmé – Lille, France","[Scala, Spark, Spark SQL]"
3,Astek,9,Astek,"Big Data Engineer – Paris, France","[Kibana, Power BI, Spark, Spark SQL]"
4,CGI,5,Cgi,Data Engineer Microsoft Azure,"[Azure, Azure Data Factory, Docker, Kubernetes..."

In [267]:
stack_filtered_df_x = stack_filtered_df.explode('stack')
stack_filtered_df_x.id.unique()

array([ 3,  4,  5, 11, 33])

In [268]:
merged_df_x = stack_filtered_df_x.merge(filtered_df_x)
merged_df_x.id.unique()
merged_df_x

,name,id,company,stack,title
0,CGI,5,Cgi,Azure,Data Engineer Microsoft Azure
1,CGI,5,Cgi,Azure Data Factory,Data Engineer Microsoft Azure
2,CGI,5,Cgi,Docker,Data Engineer Microsoft Azure
3,CGI,5,Cgi,Kubernetes,Data Engineer Microsoft Azure
4,CGI,5,Cgi,Microsoft Azure Data Factory,Data Engineer Microsoft Azure
5,CGI,5,Cgi,Microsoft SQL Server,Data Engineer Microsoft Azure
6,CGI,5,Cgi,PostgreSQL,Data Engineer Microsoft Azure
7,CGI,5,Cgi,Power BI,Data Engineer Microsoft Azure
8,CGI,5,Cgi,Python,Data Engineer Microsoft Azure
9,CGI,5,Cgi,Qlik,Data Engineer Microsoft Azure
10,CGI,5,Cgi,Spark,Data Engineer Microsoft Azure
11,CGI,5,Cgi,Spark SQL,Data Engineer Microsoft Azure
12,CGI,5,Cgi,Tableau,Data Engineer Microsoft Azure
13,CGI,5,Cgi,Talend,Data Engineer Microsoft Azure

In [270]:
final_df = merged_df_x.groupby(by=keys, dropna=False).agg(list).reset_index()

In [275]:
print(final_df['stack'][0])

['Azure', 'Azure Data Factory', 'Docker', 'Kubernetes', 'Microsoft Azure Data Factory', 'Microsoft SQL Server', 'PostgreSQL', 'Power BI', 'Python', 'Qlik', 'Spark', 'Spark SQL', 'Tableau', 'Talend']

In [253]:
merged_df_x.groupby(keys).agg(list)

Empty DataFrame
Columns: [company_name, name, url, industry, headquarters, rating, company_size, reviews_count, jobs_count, salaries_count, id, company, contract, created_at, industry_1, location, remote, stack, title, url_1, id_1, is_relevant_score, seniority_score, is_same_glassdoor_score, rating_score, total_score]
Index: []

[0 rows x 26 columns]

> **numeric**
> - rating
> - company_size
> - reviews_count
> - jobs_count
> - salaries_count
> - seniority_score
> - rating_score
> - total_score

> **categorical**
> - industry
> - location
> - contract
> - created_at
> - industry
> - location
> - remote
> - stack
> - title
> - is_relevant_score
> - is_same_glassdoor_score

In [165]:
all_data_columns = ['company_name', 'name', 'url', 'industry', 'headquarters', 'rating',
                    'company_size', 'reviews_count', 'jobs_count', 'salaries_count', 'id',
                    'company', 'contract', 'created_at', 'industry_1', 'location', 'remote',
                    'stack', 'text', 'title', 'url_1', 'id_1', 'is_relevant',
                    'is_same_glassdoor', 'seniority_score', 'rating_score', 'total_score']

In [167]:
all_data_columns = [column for column in all_data_columns if column != 'stack']

In [168]:
all_data_columns

['company_name',
 'name',
 'url',
 'industry',
 'headquarters',
 'rating',
 'company_size',
 'reviews_count',
 'jobs_count',
 'salaries_count',
 'id',
 'company',
 'contract',
 'created_at',
 'industry_1',
 'location',
 'remote',
 'text',
 'title',
 'url_1',
 'id_1',
 'is_relevant',
 'is_same_glassdoor',
 'seniority_score',
 'rating_score',
 'total_score']